
  .header h1{
    
   animation: fade-in  3s both;
   animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
    & + h1{
        color: #7a8181;
      }
    &:nth-child(2){
        animation: come-in  3s both;
   animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-play-state: running;
    animation-iteration-count: 1;
      animation-delay: 0.9s;
    }
}
@keyframes fade-in {
    from, 25% {
        transform: translateX(-100%);
      opacity: 0;
    }
    to,75% {
        transform: translateX(0);
      opacity: 1;
    }
}
@keyframes come-in {
    from, 25% {
        transform: translateY(150%);
      opacity: 0;
    }
    to,75% {
        transform: translateY(0);
      opacity: 1;
    }
}
.content1{
    animation: content1  3s both;
   animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-delay: 1s;
}
@keyframes content1 {
    from, 25% {
        transform: translateY(150%);
      opacity: 0;
    }
    to, 75% {
        transform: none;
      opacity: 1;
    }
    
}
.imgblend{
    animation: pop-up  3s both;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-play-state: running;
        animation-iteration-count: 1;
        animation-delay: 1.1s;
}
@keyframes pop-up {
    from, 25% {
        transform: translateX(100%);
      opacity: 0;
    }
     50% {
      opacity: 0.5;
    }
    to, 75% {
        transform: none;
      opacity: 1;
    }
    
}
.logo{
    animation: animate;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-delay: 0;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}
@keyframes animate {
    from, 25%{
        clip-path: polygon(0 0,0 0, 0 100%, 0 100%);
        opacity: 0;
    }

    75%, to{
        transform: none;
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        opacity: 1;
    }
}
.arrow{
  animation: arrow-key;
  animation-duration: 1.3s;
  animation-iteration-count: 1;
  animation-delay: 1.9s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@keyframes arrow-key {
  from,25%{
    opacity: 0;
    // transform: translateX(-60%);
  }
  50% {
    opacity: 0.5;
  }
  75%, to{
    opacity: 1;
    // transform: translateX(0);
  }
}
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

.circle {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.circle-text span {
  display: inline-block;
  vertical-align: middle;
  transform-origin: center bottom;
}

.circle-text span:before {
  content: '';
  display: inline-block;
  width: 0;
  padding-top: 200%; /* Adjust to control the size of the circle */
  vertical-align: middle;
}

.circle-text span:before {
  content: '';
  display: inline-block;
  width: 0;
  padding-top: 200%; /* Adjust to control the size of the circle */
  vertical-align: middle;
}

.circle-text span:before,
.circle-text span:after {
  content: '';
  display: inline-block;
  width: 50%;
  height: 100%;
}

.circle-text span:before {
  padding-right: 50px; /* Adjust this value to control the spacing between characters */
  text-align: right;
}

.circle-text span:after {
  padding-left: 50px; /* Adjust this value to control the spacing between characters */
  text-align: left;
}









